@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@200;400;700&display=swap");

:root {
    --header-height: 100px;
    --board-size: 320px;
    --cell-size: 30px;

    --background-color: rgb(240, 240, 240);
    --cell-color: rgb(230, 230, 230);
    --cell-hover-color: rgb(200, 200, 200);
    --cell-border-color: rgb(70, 70, 70);
    --ship-color: rgb(150, 150, 150);
    --hit-color: rgb(206, 169, 134);
    --miss-color: rgb(161, 216, 161);
    --sunk-color: rgb(206, 134, 134);
    --text-color-main: rgb(40, 40, 40);
    --text-color-grey: rgb(100, 100, 100);
    --button-color: rgb(210, 210, 210);
    --button-color-hover: rgb(230, 230, 230);
    --button-color-active: grey;
}

:root.dark {
    --background-color: rgb(30, 30, 30);
    --cell-color: rgb(40, 40, 40);
    --cell-hover-color: rgb(70, 70, 70);
    --cell-border-color: rgb(220, 220, 220);
    --ship-color: rgb(153, 153, 153);
    --hit-color: rgb(155, 99, 61);
    --miss-color: rgb(52, 109, 52);
    --sunk-color: rgb(155, 61, 61);
    --text-color-main: rgb(220, 220, 220);
    --text-color-grey: rgb(160, 160, 160);
    --button-color: rgb(50, 50, 50);
    --button-color-hover: rgb(20, 20, 20);
    --button-color-active: grey;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color-main);
}

#app {
    padding: 0 5%;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {}

h3 {
    margin: 0;
}

/* Header */
header {
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    height: 32px;
    width: 120px;
    font-size: 1rem;
    padding-bottom: 2px;
}

button {
    font-family: 'Poppins', Arial, sans-serif;
    color: var(--text-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color-main);
    border-radius: 0;
    background-color: var(--button-color);
}

button:active {
    background-color: var(--button-color-active);
}

@media (hover: hover) {
    button:hover {
        cursor: pointer;
        border-width: 2px;
        background-color: var(--button-color-hover);
    }
}

#game-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* Player setup */
.setup-ships-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--board-size);
    height: calc(var(--board-size) + 25px);
    text-align: right;
}

.setup-ship-shiplist {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setup-ship {
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.setup-ship p {
    margin: 0;
    display: inline-block;
}

.setup-ship-box {
    cursor: grab;
    display: inline-flex;
    gap: 2px;
    position: relative;
    z-index: 20;
    /* background-color: rgba(0,0,0,0) */
}

.setup-ship-vertical {
    /* transform: rotate(90deg);
    transform-origin: calc(var(--cell-size)/2) calc(var(--cell-size)/2); */
    flex-direction: column;
}

.setup-ship-hide div {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}

.setup-ship-dropped {
    position: absolute;
    left: -1px;
    top: -1px;
}

.setup-ship-dropped div {
    /* border: 2px solid black; */
}

.setup-ship-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--cell-hover-color);
    border: 1px solid black;
}

.setup-ships-options {
    display: flex;
    justify-content: space-between;
}

.setup-button-start,
.setup-button-random {
    width: 120px;
    height: 36px;
}

.setup-button-start {
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(235, 189, 129);
    transition: transform 0.1s ease;
}

.setup-button-start-disabled {
    opacity: 0.5;
    pointer-events: none;
}

@media (hover: hover) {
    .setup-button-start:hover {
        transform: scale(1.1);
        background-color: rgb(226, 116, 116);
    }
}

/* Player sections */
.board-container {
    display: inline-block;
}

/* Player boards */
.board {
    display: grid;
    /* width: var(--board-size);
    height: var(--board-size); */
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
}

.cell {
    position: relative;
    cursor: crosshair;
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cell-color);
    border: 1px solid var(--cell-border-color);
}

/* .cell::after {
    content: "";
    background: none;
    border: 1px solid green;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
} */

.cell-setup {
    display: inline-block;
}

.cell-drag-over {
    z-index: 40;
}

.cell-drag-valid {
    background-color: var(--miss-color);
}

.cell-drag-invalid {
    background-color: var(--hit-color);
}

/* Only allow visible hover for opposing player's board */
@media (hover: hover) {
    .cell:not([data-player='1']):not(.cell-hit):not(.cell-miss):hover {
        background-color: var(--cell-hover-color);
    }
}

.cell-ship {
    background-color: var(--ship-color);
}

.cell-hit {
    background-color: var(--hit-color);
}

.cell-hit::after {
    content: '✖';
    opacity: 0.8;
    font-size: 1.3rem;
    padding-bottom: 1px;
}

.cell-miss {
    background-color: var(--miss-color);
}

.cell-miss::after {
    content: '●';
    opacity: 0.6;
    padding-bottom: 4px;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 0 32px;
}

#footer-link {
    text-decoration: none;
}

footer p {
    font-weight: 600;
    font-size: 1.1rem;
}

footer i {
    color: var(--text-color-main);
    transition: transform 0.1s ease;
}

@media (hover: hover) {

    #footer-link:hover,
    #footer-dark-mode:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: transform 0.1s ease;
    }
}