*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(220,220,220);
}

#app {
    padding: 10%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 2px solid black;
}

.board {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    /* background-color: green; */
    gap: 2px;
    /* border: 2px solid black; */
}

.cell {
    background-color: rgb(200,200,200);
    border: 1px solid black;
}

.cell-ship {
    background-color: blue;
}

.cell-hit {
    background-color: red;
}

.cell-miss {
    background-color: green;
}